<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />

    <application
        android:name=".MediBridgeApplication"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/app_launcher"
        android:label="Medi_Bridge"
        android:roundIcon="@mipmap/app_launcher"
        android:supportsRtl="true"
        android:theme="@style/Theme.Medi_Bridge"
        tools:targetApi="31">
        <activity
            android:name=".Activity.DashboardActivity"
            android:parentActivityName=".MainActivity"
            android:exported="false">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainActivity" />
        </activity>

        <activity
            android:name=".Activity.DoctorActivity"
            android:exported="false" />
        <activity
            android:name=".Activity.AppointmentFormActivity"
            android:exported="false" />
        <activity
            android:name=".Activity.SearchActivity"
            android:exported="false" />
        <activity
            android:name=".Activity.TopDoctorsActivity"
            android:exported="false" />
        <activity
            android:name=".Activity.DetailActivity"
            android:exported="false" />
        <activity
            android:name=".Activity.SplashScreenActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Activity.IntroActivity"
            android:exported="true" />
        <activity
            android:name=".Activity.MainActivity"
            android:exported="true" />
        <activity
            android:name=".Activity.NotificationActivity"
            android:exported="false" />
        <activity
            android:name=".Activity.DoctorListActivity"
            android:exported="false" />
    </application>

</manifest>